{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p>Your phone is: {{ user.phone }}</p>
        <p>Your address is: {{ user.address }}</p>
        <p><a href="{% url 'update-user-data' user.id %}">Update your data</a></p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        <br>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}